* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1280px;
  margin: auto;
}
html {
  scroll-behavior: smooth;
}
/* ================================ */
/* shared classes */
.primary_btn {
  background-color: #ffeead;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.primary_btn:hover {
  background: #ecd05d;
  color: white;
}
.secondary_btn {
  background-color: #ffad60;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.secondary_btn:hover {
  background: #dc7516;
  color: white;
}
.buy_btn {
  background-color: #86efac;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}
.buy_btn:hover {
  background: #22c55e;
  color: white;
}
.text_white {
  color: white;
}
.text_black {
  color: black;
}
.text_red {
  color: #c26107;
}
/* ================================= */
/* navbar related css */
.menu_icon {
  display: none;
  visibility: hidden;
}
.menu_icon > img {
  width: 30px;
}

nav {
  position: fixed;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(187, 247, 208, 0.398);
  padding: 20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.scrolled {
  background-color: #bbf7d0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu > ul {
  list-style: none;
  display: flex;
}
.list > li {
  padding-left: 10px;
}
/* ======================================== */
/* hero section related css */
.hero {
  position: relative;
  width: 100%;
  height: 45rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/banner.jpg);
}

.hero_content {
  width: 100%;
  height: 45rem;
  padding: 15rem 5rem;
  background-color: rgba(217, 217, 196, 0.6);
}
.hero_content > h1 {
  font-size: 50px;
  color: black;
  padding-bottom: 3rem;
}
.hero_btn {
  padding-top: 50px;
}
/* ======================================== */
/* card_section related css */
.card_section_content {
  padding: 20px;
  text-align: center;
  background-color: #f5f5f7;
}
.card_section_content h1 {
  font-size: 32px;
  padding-bottom: 10px;
}
.card_container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 2px solid #f5f5f7;
  border-radius: 10px;
  padding: 1.25rem;
}
.card:hover {
  box-shadow: 1px 1px 6px 4px #bbf7d0;
  transition-duration: 1s;
}

.card_image > img {
  width: 12rem;
}
.card_label {
  margin-bottom: 1rem;
}
.price {
  font-weight: 600;
  color: #f97316;
}
.rating {
  color: #eab308;
}

.card_content > h4 {
  font-size: 24px;
  font-weight: 600px;
}
.card_content > p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* ======================================= */
/* footer section related css */
footer {
  padding: 40px;
  color: #f5f5f7;
  background: #1e3e62;
  text-align: center;
}
.footer_link {
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.hr {
  width: 60%;
  margin: auto;
}
.footer_link > li {
  padding-left: 10px;
}
.footer_description {
  margin-top: 30px;
}

/* =============================== */
/* responsive Related css */

/* for small device */
@media only screen and (max-width: 700px) {
  nav .menu {
    display: none;
  }
  nav .menu_icon {
    visibility: visible;
    display: block;
    cursor: pointer;
  }
  .menu.show {
    display: block;
    position: absolute;
    top: 80px;
    left: 3px;
    width: 150px;
    padding: 10px;
    line-height: 30px;
    background: #fff7d1;
  }
  .menu ul {
    flex-direction: column;
  }
  .hero .hero_content h1 {
    font-size: 2rem;
  }
  .hero_content {
    padding: 15rem 2rem;
  }
  .card_section_content h1 {
    font-size: 1rem;
  }
  .card_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .hr {
    width: 80%;
    margin: auto;
  }
}
