* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1280px;
  margin: auto;
}
/* ================================ */
/* shared classes */
.primary_btn {
  background-color: #ffeead;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.primary_btn:hover{
    background: #ecd05d;
    color: white;
}
.secondary_btn {
  background-color: #ffad60;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.secondary_btn:hover{
    background:#dc7516;
    color: white;
}
.buy_btn {
  background-color: #ffad60;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.buy_btn:hover{
    background: #a35207;
    color: white;
}
/* ================================= */
/* navbar related css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #96ceb4;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.menu > ul {
  list-style: none;
  display: flex;
}
.list > li {
  padding-left: 10px;
}
/* ======================================== */
/* hero section related css */
.hero {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/banner.jpg);
}

.hero_content {
  padding: 50px;
  opacity: 0.6;
  background-color: #ffffff;
  height: 500px;
}
.hero_content > h1 {
  font-size: 50px;
  color: black;
}
.hero_btn {
  padding-top: 50px;
}
/* ======================================== */
/* card_section related css */
.card_section_content {
  padding: 20px;
  text-align: center;
  background-color: #f5f5f7;
}
.card_section_content h1 {
  font-size: 32px;
  padding-bottom: 10px;
}
.card_container {
  padding-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.card {
display: flex;
flex-direction: column;
justify-content: space-between;
  margin: 10px;
  text-align: center;
  border: 2px solid #f5f5f7;
  border-radius: 10px;
  padding: 20px;
}

.card_image > img {
  width: 300px;
}

.card_content > h4 {
  font-size: 24px;
  font-weight: 600px;
}
.card_end {
    padding:10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card_end > p{
    font-weight: 900;
    font-size: large;

}
/* ======================================= */
/* footer section related css */
footer{
    padding: 40px;
    color: #f5f5f7;
    background: #1E3E62;
    text-align: center;
    
}
.footer_link{
    padding-top:10px;
    padding-bottom:30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    
}
.hr{
    width: 60%;
    margin: auto;
}
.footer_link>li{
    padding-left:10px;
}
.footer_description{
    margin-top:30px;
}



/* =============================== */
/* responsive Related css */

/* for mobile device */
@media only screen and (max-width: 400px) {
    nav .menu {
      display: none;
    }

    .hero{
        height:500px;
    }
    .hero .hero_content h1{
        font-size: 24px;
    }
    .card_section_content h1{
        font-size: 24px;
    }
    .card_container{
        grid-template-columns: repeat(1,1fr);
    }
  }

/* for tablet */
@media only screen and (max-width:700){

}